In [1]:
import pandas as pd
import numpy as np
import time
from selenium import webdriver
from selenium.webdriver.common.by import By

# Data Extraction

We are using Selenium for scraping data from cricbuzz.com

In [2]:
driver = webdriver.Chrome()
link = 'https://www.cricbuzz.com/cricket-series/ipl-2021/auction/completed'
driver.get(link)
time.sleep(5)
element = driver.find_element_by_xpath("//div[@class = 'cb-col cb-col-67 cb-scrd-lft-col']")
string = element.text

In [4]:
string[:500]

'Arjun Tendulkar\nBowling Allrounder • India\nSOLD\nBase Price\n20.00  Lakh\nFinal Price\n20.00  Lakh\nSold To\nMI\nAkash Singh\nBowler • India\nSOLD\nBase Price\n20.00  Lakh\nFinal Price\n20.00  Lakh\nSold To\nRR\nPawan Negi\nBowling Allrounder • India\nSOLD\nBase Price\n50.00  Lakh\nFinal Price\n50.00  Lakh\nSold To\nKKR\nVenkatesh Iyer\nBowler • India\nSOLD\nBase Price\n20.00  Lakh\nFinal Price\n20.00  Lakh\nSold To\nKKR\nHanuma Vihari\nBatting Allrounder • India\nUNSOLD\nBase Price\n1.00  Crore\nFinal Price\n-\nSold To\nJason Behrendor'

In [91]:
data = (string.split("\n"))
all_player = list()
player = list()
while data != []:

    if data[2] == 'SOLD':
        player = data[:9]
        data = data[9:]
        all_player.append(player)
    if data[2] == 'UNSOLD':
        player = data[:8]
        data = data[8:]
        all_player.append(player)
    player = list()

In [92]:
all_player[:1]

[['Arjun Tendulkar',
  'Bowling Allrounder • India',
  'SOLD',
  'Base Price',
  '20.00  Lakh',
  'Final Price',
  '20.00  Lakh',
  'Sold To',
  'MI']]

### INITIALIASING DICTIONARY VARIABLES

In [93]:
name = list()
speciality = list()
status = list()
base_price = list()
final_price = list()
team = list()

## Parsing and Extracting Data To Store And Utilise It Properly

In [94]:
for player in all_player:
    name.append(player[0])
    speciality.append(player[1])
    status.append(player[2])
    base_price.append(player[4])
    final_price.append(player[6])
    if player[2] == 'SOLD':
        team.append(player[8])
    else:
        team.append(None)

In [98]:
role = list()
for i in speciality:
    position = i.find('•')
    role.append(i[:position].strip())

In [99]:
df = pd.DataFrame({'Name': name,
                   'Role': role,
                   'Status': status,
                   'Base_Price': base_price,
                   'Final_Price': final_price,
                   'Team': team})

In [104]:
df

,Name,Role,Status,Base_Price,Final_Price,Team
0,Arjun Tendulkar,Bowling Allrounder,SOLD,20.00 Lakh,20.00 Lakh,MI
1,Akash Singh,Bowler,SOLD,20.00 Lakh,20.00 Lakh,RR
2,Pawan Negi,Bowling Allrounder,SOLD,50.00 Lakh,50.00 Lakh,KKR
3,Venkatesh Iyer,Bowler,SOLD,20.00 Lakh,20.00 Lakh,KKR
4,Hanuma Vihari,Batting Allrounder,UNSOLD,1.00 Crore,-,None
...,...,...,...,...,...,...
124,Aaron Finch,Batsman,UNSOLD,1.00 Crore,-,None
125,Evin Lewis,Batsman,UNSOLD,1.00 Crore,-,None
126,Steven Smith,Batsman,SOLD,2.00 Crore,2.20 Crore,DC
127,Jason Roy,Batsman,UNSOLD,2.00 Crore,-,None
128,Alex Hales,Batsman,UNSOLD,1.50 Crore,-,None

In [105]:
df.to_csv('auction.csv')